option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 16
    ProxyServer: nginx
    NodeCommand: "npm start"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 5000
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /app/dist/client
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.medium
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: 5000
    Protocol: HTTP
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300
      
  EBInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Path: /
      Roles:
        - !Ref EBInstanceRole
        
  EBInstanceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/AWSElasticBeanstalkWebTier'
        - 'arn:aws:iam::aws:policy/AmazonRDSFullAccess'